.header__auth{
    margin: 0;
    padding-top: 13px;
    font-family: 'Inter', Arial, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-decoration: none;
}

.header__auth:hover{
    opacity: 0.6;
    cursor: pointer;
}