.header__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 13px 0 0 24px;
    font-size: 18px;
    line-height: 22px;
    border: none;
    background-color: inherit;
    color: white;
    cursor: pointer;
    outline: none;
}